* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.dropdown { width: 100%; }
.select-container {
  margin-top: 20px;
  .select2-container {
    width: 100% !important;
    .select2-selection--single {
      .select2-selection__rendered { line-height: 25px; }
    }
  }
}
.svg {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  .responsive { position: absolute; }
}
